<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jiyong 게시판</title>
     <style>
        /* 기본 스타일 */
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 10px; text-align: center; }
        th { background-color: #f4f4f4; }
        .title { text-align: left; }
        .btn-write { padding: 10px 15px; background-color: #333; color: white; text-decoration: none; display: inline-block; margin-top: 10px; }
    </style>
</head>
<body>
    <header>
        <h2>게시판</h2>
    </header>
    <main>
        <div class="button-area">
            <a href="\write">
                <button type="button">글 작성하기</button>
            </a>
        </div>
     <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>
                    <a href="/post/{{ post.id }}">{{ post.title }}</a>
                </td>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
    
</body>
</html>